.mainContainer {
  position: relative;
  min-height: 400px;
}

.subContainer {
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
  height: 400px;
}

.errorText {
  text-align: center;
  font-size: ~fontSize.large;
  font-weight: ~fontWeight.bold;
}

.reload {
  display: inline-block;
  color: ~colors.blue;
  font-weight: ~fontWeight.bold;
  cursor: pointer;
  border: 1px solid ~colors.blue;
  border-radius: 5px;
  padding: 6px 18px;
  margin-top: 12px;
}
