.heading {
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.large;
  margin-bottom: 8px;
}

.actionButton {
  margin-top: 16px;
}

.lowSRMessage {
  margin-top: 8px;
}

.bankList {
  margin: 20px 0px 10px 0px;
  height: 36px;
  width: 100%;
  border: 1px solid ~colors.blueberry_20;
  color: ~colors.blueberry_70;
}

.otherBankDropDown {
  border: 1px solid ~colors.blueberry_20;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: ~fontSize.medium;
  margin-top: 16px;
  line-height: ~fontSize.medium;
}

.entryName {
  width: calc(100% - 14px);
  white-space: nowrap;
  overflow: hidden;
}

.mobileModalContainer {
  max-height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.desktopModalContainer {
  display: flex;
  flex-direction: column;
  max-height: 70%;
  max-width: 400px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
}

.modalHeading {
  padding: 18px 16px;
  border-bottom: 1px solid ~colors.grey;
  font-size: ~fontSize.large;
  font-weight: ~fontWeight.bold;
  height: 56px;
}

.cancelIcon {
  top: 20px;
  right: 20px;
}

.modalBody {
  overflow: auto;
}

.bankInfo {
  padding: 0px 16px;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: ~fontSize.medium;
}

.bankIcon {
  margin-right: 12px;
}

.selected {
  font-weight: ~fontWeight.bold;
  border-color: ~colors.blueberry;
}

.selected > .bankIcon {
  border-color: ~colors.watermelon;
}

.tabText {
  display: flex;
  gap: 8px;
  align-items: center;
}

.inlineOffer {
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.small;
  line-height: 16px;
  color: ~colors.mynt;
}
