.container {
  background: ~colors.mynt_10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: ~fontWeight.bold;
  padding: 4px;
}

.amount {
  margin: 0 4px;
  color: green;
  font-weight: ~fontWeight.bold;
}

.savingsCalloutIcon {
  margin: 0 10px;
}

.abovePriceBlock {
  font-weight: ~fontWeight.light;
  padding: 10px;
  border-radius: 4px;
}
