.actions {
  border-top: 1px solid ~colors.blueberry_10;
  margin-top: 10px;
}

.action {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin: 10px 0 10px;
}

.action:last-child {
  border-left: 1px solid ~colors.blueberry_20;
}

.actionButton {
  text-transform: uppercase;
  font-weight: ~fontWeight.bold;
  color: ~colors.blueberry_70;
  padding: 5px;
  font-size: ~fontSize.medium;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
