@media (min-width: 480px) {
  .pageBackground {
    background-color: ~colors.blueberry_5;
    padding: 15px 0 40px;
    height: calc(100vh - 78px);
  }

  .container {
    padding: 24px 0 24px;
    margin: auto;
    width: 57%;
    height: 550px;
    min-width: 300px;
    box-shadow: 0 2px 8px 0 ~colors.blueberry_30;
    border-radius: 4px;
    background-color: ~colors.white;
  }
}

@media (max-width: 480px) {
  .container {
    height: 100vh;
    background-color: ~colors.white;
  }
}

:global(.android) .container,
:global(.ios) .container {
  height: 100vh;
}

.form {
  height: 100%;
}
