.modal {
  top: 20%;
  width: 376px;
  padding: 19px 16px 24px;
  font-size: ~fontSize.medium;
}

.heading {
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.large;
  margin-bottom: 10px;
}

.note {
  margin-bottom: 24px;
}

.input {
  margin-bottom: 24px;
}

.addButton {
  border-radius: 4px;
}

input[id='gcPin'] {
  -webkit-text-security: disc;
}

.errorBlock {
  margin-top: 18px;
}

.notification {
  font-weight: ~fontWeight.light;
}

.message {
  font-weight: ~fontWeight.bold;
}

@media (max-width: 480px) {
  .modal {
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0px;
    border-radius: 0px;
    padding: 19px 16px 16px;
  }
}
