.mode {
  margin-bottom: 24px;
}

.heading {
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.large;
  padding-bottom: 24px;
}

@media (max-width: 480px) {
  .mode {
    margin-bottom: 0px;
  }
  .heading {
    border: none;
    padding: 5px 0;
    margin: 0px;
  }
}
