.actionButton {
  margin-top: 16px;
}

.lowSRMessage {
  padding-top: 12px;
}

.displayMain {
  display: block;
  margin-bottom: 8px;
}

.cardText {
  display: -webkit-inline-box;
  align-items: center;
}

.inlineOffer {
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.small;
  line-height: 16px;
  color: ~colors.mynt;
  margin-left: 8px;
}
