.wishlistBlock {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: ~colors.white;
  color: inherit;
  padding: 12px;
  position: relative;
  font-weight: ~fontWeight.bold;
  padding: 16px 12px 16px 16px;
  margin-top: 24px;
  border: 1px solid ~colors.blueberry_10;
  border-radius: 4px;
}

:global(.android) .wishlistBlock,
:global(.ios) .wishlistBlock {
  display: none;
}

.wishlistText {
  display: flex;
  flex: 1;
  margin-left: 10px;
  font-size: ~fontSize.medium;
  color: ~colors.blueberry;
}

.wishlistText:hover {
  text-decoration: underline;
}

.wishlistChevron {
  float: right;
  font-size: 20px;
  color: ~colors.blueberry;
}

@media (max-width: 480px) {
  .wishlistBlock {
    border: none;
    border-radius: 0px;
  }
}
