.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px 5px 10px;
  height: 26px;
  background: ~colors.white;
  border: 1px solid ~colors.grey_25;
  border-radius: 2px;
  color: ~colors.blueberry;
  font-size: ~fontSize.small;
  line-height: 16px;
  margin-top: 8px;
  font-weight: ~fontWeight.bold;
}

.similarIcon {
  margin-right: 5px;
}
