.button {
  color: ~colors.white;
  font-size: ~fontSize.medium;
  font-weight: ~fontWeight.bold;
  padding: 10px;
  background: ~colors.watermelon;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.disabled {
  background: ~colors.blueberry_30;
}
