.mobileContainer {
  background: ~colors.blueberry_5;
  min-height: 100vh;
}

.mobile {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.mobile:not(:nth-child(1)) {
  padding-top: 0px;
}

.priceBlock {
  margin-top: 16px;
  padding: 16px;
  background: ~colors.white;
}

.headerContainer {
  padding: 8px;
  background: ~colors.white;
}

.nudgeContainer {
  padding: 12px 0px 12px 16px;
  background-color: ~colors.green_20;
  font-size: ~fontSize.medium;
}
