.mobileContainer {
  background: ~colors.blueberry_5;
}

.mobileLayout {
  margin: auto;
  padding: 10px 0 10px 0px;
}

.mobileLayout:not(:nth-child(1)) {
  padding-top: 0px;
}

.specialOffer {
  margin-bottom: 10px;
}

.priceBreakUp {
  background: white;
  padding: 16px;
}

/* Payment mode styles */
.pModeBlock {
  margin: 30px 0px;
}

.paymentOptionsBlock {
  margin-bottom: 16px;
}

.paymentErrorBlock {
  margin-bottom: 16px;
  padding: 8px;
  background-color: ~colors.white;
}

.tabBarHeading {
  margin: 16px 0 8px 16px;
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.small;
  color: ~colors.blueberry_70;
}

.savedCardsBlock {
  border: 1px solid ~colors.blueberry_10;
  border-radius: 4px;
  background-color: ~colors.white;
  padding: 0px 10px;
}

.bottomPadding {
  padding-bottom: 10px;
}

.bottomMargin {
  margin-bottom: 10px;
}

.giftCardBlock {
  margin-bottom: 16px;
}

.bankOfferTitle {
  padding: 16px 0 8px 16px;
  font-weight: ~fontWeight.bold;
  font-size: ~fontSize.small;
  color: ~colors.blueberry_70;
}

.bankOfferPillContainer {
  padding: 0px 16px;
}
