.container {
  margin-top: 16px;
  background: ~colors.white;
  padding: 16px;
}

.priceHeader {
  padding-bottom: 8px;
  font-size: ~fontSize.small;
  font-weight: ~fontWeight.bold;
  border-bottom: 1px solid ~colors.grey_10;
}

.priceBreakUpContainer {
  padding-top: 16px;
}

.animate {
  animation: shake 0.62s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-6px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(6px, 0, 0);
  }
}
